/* Import custom font: Lexend */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Lexend';
    background-color: #F3F4F6;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #8D1436;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header > a:first-child {
    padding: 0;
    float: none;
    line-height: 1;
}

img.logo {
    height: 70px;
    vertical-align: middle;
}

.header-tabs {
    float: none;
    display: flex;
}

.header-tabs a:hover {
    background-color: #5E1A2C;
}

.header-right-text {
    float: none;
    color: #FFFFFF;
    text-align: right;
    font-size: 15px;
    margin-left: auto;
}

.header-right-text p {
    margin: 0;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .header-tabs a {
        width: 100%;
    }

    .header-right-text {
        float: none;
        margin-left: 0;
        text-align: left;
        width: 100%;
    }
}