/* Import custom font: Lexend */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {box-sizing: border-box;}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lexend';
    background-color: #F3F4F6;
}

/* Header CSS */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #8D1436;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header > a:first-child {
    padding: 0;
    float: none;
    line-height: 1;
}

img.header-logo {
    height: 70px;
    vertical-align: middle;
}

.header-tabs {
    float: none;
    display: flex;
}

.header-tabs a:hover {
    background-color: #f4a126;
    color: #8D1436;
}

.header-right-text {
    float: none;
    color: #FFFFFF;
    text-align: right;
    font-size: 15px;
    margin-left: auto;
}

.header-right-text p {
    margin: 0;
}

/* Footer CSS */
.footer {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f4a126;
    padding: 10px 20px;
    overflow: hidden;
}

.footer p {
    color: #FFFFFF;
    text-align: left;
    padding: 4px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0;
}

p.footer-copyright {
    font-size: 14px;
}

img.footer-logo {
    height: 150px;
    vertical-align: middle;
}

.footer-text {
    flex-direction: column;
    float: none;
    display: flex;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .header-tabs a {
        width: 100%;
    }

    .header-right-text {
        float: none;
        margin-left: 0;
        text-align: left;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .footer p {
        float: none;
        text-align: left;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}