.welcome-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.05);
    transition: 0.3s;
    max-width: 50rem; /* 384px */
    padding: 1.5rem; /* 24px */
    border-radius: 8px;
    margin: 2rem auto;
}

.welcome-card h1 {
    margin-bottom: 0.5rem; /* 8px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}