.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem; /* 32px */
    padding: 2rem; /* 32px */
}

.section-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.05);
    transition: 0.3s;
    padding: 1.5rem; /* 24px */
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    max-width: 50rem; /* 800px */
    display: flex;
    flex-direction: column;
}

.section-card > div {
    flex-grow: 1;
}

.section-card h1 {
    margin-bottom: 0.5rem; /* 8px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

.section-card a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #8D1436;
    transition: background-color 0.3s ease;
}

.section-card a:hover {
    background-color: #f4a126;
    color: #8D1436;
}