.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem; /* 32px */
    padding: 2rem; /* 32px */
}

.section-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.05);
    transition: 0.3s;
    padding: 1.5rem; /* 24px */
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    max-width: 50rem; /* 800px */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-card h1 {
    margin-bottom: 0.5rem; /* 8px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

.section-card form {
    display: grid;
    gap: 16px 20px;
    align-items: center;
}

.section-card label {
    text-align: left;
}

.section-card input[type="text"],
.section-card input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.section-card input[type="text"]:hover,
.section-card input[type="password"]:hover {
    border-color: #f4a126;
}

.section-card input[type="text"]:focus,
.section-card input[type="password"]:focus {
    outline: none;
    border-color: #8D1436;
    box-shadow: 0 0 0 1px #8D1436;
}

.btn-selectors {
    justify-content: flex-end;
    align-self: flex-start;
    display: flex;
    gap: 1rem; /* 16px */
    width: 100%;
    margin-left: auto;
}

.section-card button {
    background-color: #8D1436;
    color: #FFFFFF;
    font-family: 'Lexend', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2.5rem;
}

.section-card button:hover {
    background-color: #f4a126;
    color: #8D1436;
}